Source: lmdb
Section: database
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: LMDB <lmdb@packages.debian.org>
XSBC-Pexip-Original-Uploaders: Ondřej Surý <ondrej@debian.org>
Build-Depends: debhelper (>= 10),
               doxygen
Standards-Version: 4.1.5.0
Homepage: http://symas.com/mdb/
Vcs-Browser: https://salsa.debian.org/debian/lmdb
Vcs-Git: https://salsa.debian.org/debian/lmdb.git
XS-Pexip-Upstream: http://deb.debian.org/debian/ bookworm

Package: lmdb-utils
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Multi-Arch: foreign
Description: Lightning Memory-Mapped Database Utilities
 This package provides tools for manipulating LMDB databases:
  * mdb_stat - LMDB environment status tool
  * mdb_copy - LMDB environment copy tool
 .
 Lighting Memory-Mapped Database (LMDB) is an ultra-fast, ultra-compact
 key-value embedded data store developed for the OpenLDAP Project.  It uses
 memory-mapped files, so it has the read performance of a pure in-memory
 database while still offering the persistence of standard disk-based
 databases, and is only limited to the size of the virtual address space, (it
 is not limited to the size of physical RAM).

Package: liblmdb0
Architecture: any
Section: libs
Depends: ${misc:Depends},
         ${shlibs:Depends}
Multi-Arch: same
Description: Lightning Memory-Mapped Database shared library
 This package contains the LMDB shared library.
 .
 Lighting Memory-Mapped Database (LMDB) is an ultra-fast, ultra-compact
 key-value embedded data store developed for the OpenLDAP Project.  It uses
 memory-mapped files, so it has the read performance of a pure in-memory
 database while still offering the persistence of standard disk-based
 databases, and is only limited to the size of the virtual address space, (it
 is not limited to the size of physical RAM).

Package: liblmdb-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: liblmdb0 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: lmdb-doc
Description: Lightning Memory-Mapped Database development files
 This package contains the development libraries, header files.  Install
 lmdb-doc package for man pages.
 .
 Lighting Memory-Mapped Database (LMDB) is an ultra-fast, ultra-compact
 key-value embedded data store developed for the OpenLDAP Project.  It uses
 memory-mapped files, so it has the read performance of a pure in-memory
 database while still offering the persistence of standard disk-based
 databases, and is only limited to the size of the virtual address space, (it
 is not limited to the size of physical RAM).

Package: lmdb-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Breaks: liblmdb-dev (<< 0.9.9-1)
Replaces: liblmdb-dev (<< 0.9.9-1)
Description: Lightning Memory-Mapped Database doxygen documentation
 This package contains the doxygen generated documentation and the man
 pages for the LMDB library.
 .
 Lighting Memory-Mapped Database (LMDB) is an ultra-fast, ultra-compact
 key-value embedded data store developed for the OpenLDAP Project.  It uses
 memory-mapped files, so it has the read performance of a pure in-memory
 database while still offering the persistence of standard disk-based
 databases, and is only limited to the size of the virtual address space, (it
 is not limited to the size of physical RAM).
